
.mat-mdc-row:nth-child(odd) {
  background-color: #cdeefe
}

.sticky {
  bottom: 0px;
  position: sticky;
  border-top: .5px solid rgba(0,0,0,.12);
}

.page-amounts{
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin-right: .2rem;
}

.flx-row-end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

:host::ng-deep.mat-mdc-paginator-container {
  min-height: initial !important;
}

.group-header {
  display: flex;
}

:host ::ng-deep .mat-column-groupHeader {
  display: none;
}

:host ::ng-deep .group-header-row {
  background-color: white;

  .mat-mdc-cell:not(.mat-column-groupHeader) {
    display: none;
  }
  .mat-column-groupHeader {
    display: flex;
    flex: 1;
  }
}

.group-footer-row {
  background-color: whitesmoke;
}

:host::ng-deep .table-drag-list.cdk-drop-list-dragging  .drag-header:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
:host::ng-deep{
  & .mdc-data-table__cell, .mdc-data-table__header-cell, .mdc-data-table__cell, .mdc-data-table__header-cell{
    padding: 0 0 0 .2rem;
    line-height: normal;
  }
}
::ng-deep .op-date-time-input{
  line-height: 3rem;
  font-size: .9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-left: 0.2rem;
  width: 12rem;
}
