<cdk-virtual-scroll-viewport [tvsItemSize]="52" class="tb-virtual-scroll-viewport">

  <mat-table
    cdkDropList
    cdkDropListLockAxis='x'
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    class="table-drag-list"
    #table
    [dataSource]="dataSource"
    [trackBy]='trackByFunction'
    [styler]="tableWidth | async"
    >

    <ng-container matColumnDef="select">

      <mat-header-cell *matHeaderCellDef class="f-mat-header-cell">
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="!!(masterToggleChecked$ | async)"
          [indeterminate]="masterToggleIndeterminate$ | async" />
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        @if (!row.isGroupFooter && !row.isGroupHeader) {
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" />
        }
      </mat-cell>

      <mat-footer-cell *matFooterCellDef>
        {{ selection.selected.length }}
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="f-mat-header-cell" >#</mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index;">
        @if (!row.isGroupHeader) {
          {{ (tbPaginator.paginator().pageIndex * tbPaginator.paginator().pageSize) +  i + 1 }}
        }
      </mat-cell>
      <mat-footer-cell *matFooterCellDef />
    </ng-container>

    <ng-container matColumnDef="groupHeader">
      <mat-header-cell *matHeaderCellDef style="display:none" />
      <mat-footer-cell *matFooterCellDef style="display:none" />
      <mat-cell *matCellDef="let row">
        @if (row.isGroupHeader) {
          <div [style.paddingLeft]="row.padding + 'px !important'" >
            <button mat-icon-button (click)="updateGroup(row);">
              @if (!row.isExpanded) {
                <mat-icon>chevron_right</mat-icon>
              }
              @if (row.isExpanded) {
                <mat-icon>expand_more</mat-icon>
              }
            </button>
            {{row.groupHeaderName}}
          </div>
          <div style="flex-grow: 1">
            <ng-container *ngTemplateOutlet="$groupHeaderTemplate(); context: { element: row }"></ng-container>
          </div>
        }
      </mat-cell>
    </ng-container>

    @if (showHeader$ | async) {
      <mat-header-row *matHeaderRowDef="keys; sticky: $isSticky()" />
    }
    <mat-row *matRowDef="let row; columns: keys; let i = index"
      [class.group-header-row]="row.isGroupHeader"
      [class.group-footer-row]="row.isGroupFooter" />
    <mat-footer-row *matFooterRowDef="keys" />

  </mat-table>

</cdk-virtual-scroll-viewport>

<div class="flx-row-end sticky">
  <tb-paginator #tbPaginator
    [dataSource]="dataSource"
    [tableElRef]="$tableElRef()"
    [data$]="$data()" />

  <mat-icon [matTooltip]="(collapseFooter$ | async) ? 'expand' : 'collapse'" class="collapse-icon footer" (click)="state.toggleCollapseFooter()">
    {{(collapseFooter$ | async) ? 'expand_more' : 'expand_less'}}
  </mat-icon>
</div>
