<div class=inline>
  @for (val of value; track val; let i = $index) {
    <div>
      @if (type() === FieldType.Number || type() === FieldType.Currency) {
        <input
          [ngModel]="val" (ngModelChange)="onValueChange(i,$event)"
          [readonly]="i+1 < value.length" type="number" [ngModelOptions]="{standalone:true}" [autoFocus]="i === value.length - 1"/>
        }
        @if (type() !== FieldType.Number && type() !== FieldType.Currency) {
          <input
            [ngModel]="val" (ngModelChange)="onValueChange(i,$event)"
            [readonly]="i+1 < value.length" type="string" [ngModelOptions]="{standalone:true}"
            #input [autoFocus]="i === value.length - 1" />
        }
        <button [disabled]="value.length <= 1" (click)="removeInput(i)">-</button>
        @if (i === value.length - 1) {
          <button [disabled]="val == undefined || val === ''" (click)="addInput()">+</button>
        }
      </div>
    }
  </div>
