<ng-container *ngrxLet="dirty$ as dirty">
  @if (sorted$ | async; as sorted) {
    @if (notSorted$ | async; as notSorted) {
      <!-- Menu Trigger -->
      <span matTooltip="Sort">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon color="primary">swap_vert</mat-icon>
        </button>
      </span>
      <!-- Menu -->
      <mat-menu #menu="matMenu"  class="my-mat-menu" (closed)="reset()">
        <div mat-menu-item class="menu-button">
          <div class="close-button-wrapper">
            <span matTooltip="Close">
              <mat-icon>close</mat-icon>
            </span>
            @if (dirty) {
              <span matTooltip="Undo" stop-propagation (click)="reset()">
                <mat-icon>undo</mat-icon>
              </span>
            }
          </div>
        </div>
        <!-- Apply Button -->
        <div class="apply-button-wrapper">
          <button mat-button color="primary" (click)="apply(null)"
            stop-propagation [class.apply-border]="dirty"
            [disabled]="!dirty">
            Apply
            @if (dirty) {
              Unsaved Changes
            }
          </button>
        </div>
        <!-- Default Sorting Text -->
        @if (!sorted.length) {
          <div class="tip" >
            Sorting List
          </div>
        }
        <!-- Sorted Menu List -->
        <div class="list"
          cdkDropList
          #sortedGroup="cdkDropList"
          [cdkDropListConnectedTo]="[notSortedGroup]"
          [cdkDropListData]="sorted"
          (cdkDropListDropped)="dropIntoSorted($event)">
          <!-- Menu Item Wrapper -->
          @for (sort of sorted; track sort.active; let i = $index) {
            <!-- Menu Item Headers -->
            @if (sorted.length > 1 && i === 0 ) {
              <span class="description" class="sort-header">First By</span>
            }
            @if (sorted.length > 1 && i !== 0 ) {
              <span class="description"  class="sort-header">Then By</span>
            }
            <!-- Menu Item -->
            <div mat-menu-item   cdkDrag class="menu-item">
              <div class="sort-item">
                <span class="sorted-name">
                  {{sort.displayName || (sort.active | spaceCase)}}
                  <span class="direction-text">{{sort.direction}}</span>
                </span>
                <!-- Sort Direction Buttons -->
                <div class="up-down-buttons-wrapper">
                  <button  class="up-down-button up-button" stop-propagation
                    (click)="setDirection({active:sort.active,direction:SortDirection.asc,displayName:sort.displayName})">
                    <mat-icon [ngClass]="sort.direction !== SortDirection.asc ? 'light-arrow' : 'dark-arrow'" class="up-down-icon">
                      arrow_upward
                    </mat-icon>
                  </button>
                  <button class="up-down-button" stop-propagation
                    (click)="setDirection({active:sort.active,direction:SortDirection.desc,displayName:sort.displayName})">
                    <mat-icon [ngClass]="sort.direction === SortDirection.asc ? 'light-arrow' : 'dark-arrow'" class="up-down-icon">
                      arrow_downward
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
        <!-- Default Not Sorted Text -->
        @if (!notSorted.length) {
          <div class="tip" >
            Not Sorted List
          </div>
        }
        <!-- Not Sorted Menu List -->
        <div class="list"
          cdkDropList
          #notSortedGroup="cdkDropList"
          [cdkDropListConnectedTo]="[sortedGroup]"
          [cdkDropListData]="notSorted"
          (cdkDropListDropped)="dropIntoNotSorted($event)">
          @for (sort of notSorted; track sort.active) {
            <div mat-menu-item  class="menu-item" cdkDrag>
              <span class="not-sorted-name">{{sort.displayName || (sort.active | spaceCase)}}</span>
            </div>
          }
        </div>
      </mat-menu>
    }
  }
</ng-container>
