<button mat-icon-button class="open-menu-icon-button" disableRipple [matMenuTriggerFor]="menu" [matMenuTriggerRestoreFocus]="false">
  <mat-icon class="menu-icon">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" >
  <button mat-menu-item (click)="tableState.addGroupByKey(metaData().key)">
    <mat-icon color="primary">group</mat-icon>
    <span>Group By</span>
  </button>
  <button mat-menu-item (click)=hideField(metaData().key)>
    <mat-icon color="primary">visibility_off</mat-icon>
    <span>Hide Column</span>
  </button>
  <ng-form #myForm="ngForm" (keydown.enter)="onEnter(myForm.value)" class="tb-header-filter">
      <input type="hidden" name="filterId"  [ngModel]="'header-column-' + metaData().key" />
      <input type="hidden" name="filterType"  [ngModel]="myFilterType" />
      <input type="hidden" name="key"  [ngModel]="metaData().key" />
      <input type="hidden" name="fieldType"  [ngModel]="metaData().fieldType" />

      @if (myFilterType === FilterType.Or || myFilterType === FilterType.In) {
        <tb-in-list-filter name='filterValue' [key]='metaData().key' [(ngModel)]='myFilterValue'  />
      } @else if (metaData().fieldType === FieldType.Link || metaData().fieldType === FieldType.String || metaData().fieldType === FieldType.Array || metaData().fieldType === FieldType.Unknown || metaData().fieldType === FieldType.PhoneNumber) {
        <mat-form-field stop-propagation class="font auto-width">
          <mat-icon matPrefix class="search-icon">search</mat-icon>
          <mat-label>{{myFilterType === FilterType.StringDoesNotContain ? 'Does Not Contain...' : 'Contains...'}}</mat-label>
          <input matInput name="filterValue" [ngModel]="filter().filterValue" />
          <span matSuffix [matTooltip]="myFilterType === FilterType.StringDoesNotContain ? 'Contains' : 'Does Not Contain'">
            <button mat-icon-button color="primary" (click)="setStringFilterType()" class="header-filter-icon-button">
              <mat-icon [ngClass]="{'chosen-icon': myFilterType === FilterType.StringDoesNotContain }">
                block
              </mat-icon>
            </button>
          </span>
        </mat-form-field>
      } @else if (metaData().fieldType === FieldType.Number || metaData().fieldType === FieldType.Currency) {
        <mat-form-field class="auto-width"  stop-propagation>

          <mat-label>{{myFilterType === FilterType.NumberEquals ? 'Equals...' : myFilterType === FilterType.NumberLessThan ? 'Less Than...' : 'More Than...'}}</mat-label>
          <input matInput type='number'  name="filterValue" [ngModel]="filter().filterValue" />
          <span matPrefix class="tb-header-prefix">
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.NumberLessThan)"
            [ngClass]="{'chosen-icon': myFilterType === FilterType.NumberLessThan }">
              <mat-icon  class="suffix-icons"
                >
                arrow_back_ios</mat-icon>
            </button>
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.NumberGreaterThan)"
            [ngClass]="{'chosen-icon': myFilterType === FilterType.NumberGreaterThan }" >
              <mat-icon  class="suffix-icons"
              >
                arrow_forward_ios</mat-icon>
            </button>
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.NumberEquals)"
            [ngClass]="{'chosen-icon': myFilterType === FilterType.NumberEquals }">
              <span class="suffix-icons"
              >
                =</span>
            </button>
          </span>
        </mat-form-field>
      } @else if (metaData().fieldType === FieldType.Boolean) {
        <div>
          <label>
            <mat-icon class="search-icon">filter_list</mat-icon>
          </label>
          <mat-radio-group stop-propagation #ctrl="matRadioGroup" #boolField='ngModel' class="font" name="filterValue" [ngModel]="myFilterValue" >
            <mat-radio-button class="filter-radio-button" (click)="myFilterValue = true;" [value]="true">True</mat-radio-button><br/>
            <mat-radio-button class="filter-radio-button" (click)="myFilterValue = false" [value]="false">False</mat-radio-button><br/>
          </mat-radio-group>
        </div>
      } @else if (metaData().fieldType === FieldType.Date || metaData().fieldType === FieldType.DateTime) {
        <mat-form-field class="font auto-width" stop-propagation >
          <span matPrefix class="tb-header-prefix">
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.DateOnOrAfter)"
              [ngClass]="{'chosen-icon': myFilterType === FilterType.DateOnOrAfter }">
              <mat-icon  class="suffix-icons underline">arrow_forward_ios</mat-icon>
            </button>
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.DateOnOrBefore)"
              [ngClass]="{'chosen-icon': myFilterType === FilterType.DateOnOrBefore  }">
              <mat-icon  class="suffix-icons underline">arrow_back_ios</mat-icon>
            </button>
            <button mat-icon-button disableRipple class="header-filter-icon-button" (click)="setFilterType(FilterType.DateIsOn)"
              [ngClass]="{'chosen-icon': myFilterType === FilterType.DateIsOn }">
              <span  class="suffix-icons underline"> =</span>
            </button>
          </span>
          <mat-label>{{myFilterType === FilterType.DateIsOn ? 'On...' :
            myFilterType === FilterType.DateOnOrBefore ? 'On or Before...' : 'On or After...'}}</mat-label>
          <input matInput name="filterValue" [ngModel]="filter().filterValue" [matDatepicker]="calendar"
            (click)="calendar.open()"/>
          <mat-datepicker-toggle class="date-toggle header-filter-icon-button" matSuffix [for]="calendar" preventEnter />
          <mat-datepicker #calendar />
        </mat-form-field>
      }

    <button mat-button (click)="onEnter(myForm.value)" [disabled]="myForm.value.filterValue == undefined" disableRipple>
      Apply
    </button>
  </ng-form>
</mat-menu>
