<ng-content select="[before]" >
</ng-content>

<ng-container multiSort [matSortDisabled]="disableSort">
  <ng-container *ngrxLet="state.tableSettings$ as tableSettings">


    <div class="header-wrapper">
      <div class="title">
        <ng-content select=".tb-header-title"
          *ngIf="(!(collapseHeader$ | async)) || tableSettings.showTitleWhenHeaderCollapsed">

        </ng-content>
        <group-by-list></group-by-list>
      </div>
      <div class="flx-row-end">
        <lib-filter-list></lib-filter-list>
        <ng-container *ngIf="!tableSettings.hideHeader">
          @if (!(collapseHeader$ | async)) {
            <ng-container *ngTemplateOutlet="headerMenu"></ng-container>
            <button mat-icon-button [matMenuTriggerFor]="mainMenu"
              [class.flat-menu]="(collapseHeader$ | async)">
              <mat-icon class="tb-icon-primary">{{(collapseHeader$ | async) ? 'more_horiz' : 'more_vert'}}</mat-icon>
            </button>
            <mat-menu #mainMenu='matMenu'>
              <ng-container *ngTemplateOutlet="headerMenuExtra"></ng-container>
            </mat-menu>
          } @else {
            <button mat-icon-button [matMenuTriggerFor]="mainMenu"
              [class.flat-menu]="(collapseHeader$ | async)">
              <mat-icon class="tb-icon-primary">{{(collapseHeader$ | async) ? 'more_horiz' : 'more_vert'}}</mat-icon>
            </button>
            <mat-menu #mainMenu='matMenu'>
              <div class="flex-column">
                <ng-container *ngTemplateOutlet="headerMenu"></ng-container>
              </div>
              <ng-container *ngTemplateOutlet="headerMenuExtra"></ng-container>
            </mat-menu>
          }
          <mat-icon [matTooltip]="(collapseHeader$ | async) ? 'expand' : 'collapse'" class="collapse-icon header"
            (click)="state.toggleCollapseHeader()">
            {{(collapseHeader$ | async) ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </ng-container>
      </div>
    </div>

    <div style="clear: both;" *ngIf="!_isVs">
      <tb-generic-table [rows]='customRows' [data$]="data" [IndexColumn]='IndexColumn'
        [SelectionColumn]='SelectionColumn' (selection$)='selection$.emit($event)' [trackBy]='trackBy'
        [isSticky]='isSticky' [columnInfos]='myColumns$' [disableSort]="disableSort" [groupHeaderTemplate]="groupHeaderTemplate"
        [compareWithKey]="compareWithKey">
      </tb-generic-table>
    </div>

    <div style="clear: both;" *ngIf="_isVs">
      <tb-generic-table-vs [rows]='customRows' [data$]="data" [IndexColumn]='IndexColumn'
        [SelectionColumn]='SelectionColumn' (selection$)='selection$.emit($event)' [trackBy]='trackBy'
        [isSticky]='isSticky' [columnInfos]='myColumns$' [disableSort]="disableSort" [groupHeaderTemplate]="groupHeaderTemplate"
        (paginatorChange)="paginatorChange.emit()">
      </tb-generic-table-vs>
    </div>


    <ng-template #headerMenu>
      <ng-container>
        <tb-filter-displayer *ngIf="!tableSettings.hideFilter">
        </tb-filter-displayer>
        <tb-columns-panel *ngIf="!tableSettings.hideColumnSettings || !tableSettings.hideSort"></tb-columns-panel>
      </ng-container>
    </ng-template>
    <ng-template #headerMenuExtra>
      <button mat-menu-item (click)="resetState()">
        <mat-icon class="tb-icon-primary">autorenew</mat-icon>
        <span>Reset table</span>
      </button>
      @if (!tableSettings.hideExport) {
        <button mat-menu-item (click)="exportToCsv()">
          <mat-icon class="tb-icon-primary">file_download</mat-icon>
          <span>Export Table</span>
        </button>
      }
      @if (currentStateKey$ | async; as currentKey) {
        @if (tableId) {
          <button mat-menu-item (click)="saveState()">
            <mat-icon class="tb-icon-primary">save</mat-icon>
            <span>Save to {{currentKey}}</span>
          </button>
        }
        @if (tableId) {
          <button mat-menu-item [matMenuTriggerFor]="savedNames">
            <span>Choose Profile</span>
          </button>
        }
      }

      <mat-menu #savedNames='matMenu' panelClass='wide-menu'>
        <button mat-menu-item clickEmitter  #add='clickEmitter'>
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        @for (key of stateKeys$ | async; track key) {
          <button mat-menu-item (click)='setProfileState(key)'>
            <div style='display: flex; align-items: center; justify-content: space-between;'>
              <span style='display:flex;'>{{key}}</span>
              <span style='display:flex;'>
                <span style="width: 120px;"></span>
                <mat-icon class="tb-icon-warn" (click)='deleteProfileState(key)' stop-propagation>delete_forever</mat-icon>
              </span>
            </div>
          </button>
        }
      </mat-menu>
      <ng-container *opDialog='add'>
        <mat-form-field>
          <input style='width:90%' matInput #addedKey />
        </mat-form-field>
        <button mat-button (click)='setProfileState(addedKey.value); add.next(false);'
          [disabled]="!addedKey.value">Add</button>
      </ng-container>
    </ng-template>

  </ng-container>

</ng-container>
