<ng-content select="[before]" />

<ng-container multiSort [matSortDisabled]="disableSort">
  <ng-container *ngrxLet="state.tableSettings$ as tableSettings">


    <div class="header-wrapper">
      <div class="title">
        @if ((!(collapseHeader$ | async)) || tableSettings.showTitleWhenHeaderCollapsed) {
          <ng-content select=".tb-header-title" />
        }
        <group-by-list />
      </div>
      <div class="flx-row-end">
        <lib-filter-list />
        @if (!tableSettings.hideHeader) {
          @if (!(collapseHeader$ | async)) {
            <ng-container *ngTemplateOutlet="headerMenu" />
            <button mat-icon-button color='primary' [matMenuTriggerFor]="mainMenu"
              [ngClass]="{'flat-menu':(collapseHeader$ | async)}">
              <mat-icon>{{(collapseHeader$ | async) ? 'more_horiz' : 'more_vert'}}</mat-icon>
            </button>
            <mat-menu #mainMenu='matMenu'>
              <ng-container *ngTemplateOutlet="headerMenuExtra" />
            </mat-menu>
          } @else {
            <button mat-icon-button color='primary' [matMenuTriggerFor]="mainMenu"
              [ngClass]="{'flat-menu':(collapseHeader$ | async)}">
              <mat-icon>{{(collapseHeader$ | async) ? 'more_horiz' : 'more_vert'}}</mat-icon>
            </button>
            <mat-menu #mainMenu='matMenu'>
              <div class="flex-column">
                <ng-container *ngTemplateOutlet="headerMenu" />
              </div>
              <ng-container *ngTemplateOutlet="headerMenuExtra" />
            </mat-menu>
          }
          <mat-icon [matTooltip]="(collapseHeader$ | async) ? 'expand' : 'collapse'" class="collapse-icon header"
            (click)="state.toggleCollapseHeader()">
            {{(collapseHeader$ | async) ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        }
      </div>
    </div>

    @if (!_isVs) {
      <div style="clear: both;">
        <tb-generic-table [rows]='$customRows()' [data$]="data" [IndexColumn]='$indexColumn()'
          [SelectionColumn]='$selectionColumn()' (selection$)='selection$.emit($event)' [trackBy]='$trackBy()'
          [isSticky]='$isSticky()' [columnInfos]='myColumns$' [disableSort]="disableSort" [groupHeaderTemplate]="$groupHeaderTemplate()"
          [compareWithKey]="$compareWithKey()" />
      </div>
    }

    @if (_isVs) {
      <div style="clear: both;">
        <tb-generic-table-vs [rows]='$customRows()' [data$]="data" [IndexColumn]='$indexColumn()'
          [SelectionColumn]='$selectionColumn()' (selection$)='selection$.emit($event)' [trackBy]='$trackBy()'
          [isSticky]='$isSticky()' [columnInfos]='myColumns$' [disableSort]="disableSort" [groupHeaderTemplate]="$groupHeaderTemplate()"
          (paginatorChange)="paginatorChange$.emit()" />
      </div>
    }


    <ng-template #headerMenu>
      <ng-container>
        @if (!tableSettings.hideFilter) {
          <tb-filter-displayer />
        }
        @if (!tableSettings.hideColumnSettings) {
          <tb-col-displayer />
        }
        @if (!tableSettings.hideSort) {
          <tb-sort-menu />
        }
      </ng-container>
    </ng-template>
    <ng-template #headerMenuExtra>
      <button mat-menu-item (click)="resetState()">
        <mat-icon color="primary">autorenew</mat-icon>
        <span>Reset table</span>
      </button>
      @if (!tableSettings.hideExport) {
        <button mat-menu-item (click)="exportToCsv()">
          <mat-icon color="primary">file_download</mat-icon>
          <span>Export Table</span>
        </button>
      }
      @if (currentStateKey$ | async; as currentKey) {
        @if (tableId) {
          <button mat-menu-item (click)="saveState()">
            <mat-icon color="primary">save</mat-icon>
            <span>Save to {{currentKey}}</span>
          </button>
        }
        @if (tableId) {
          <button mat-menu-item [matMenuTriggerFor]="savedNames">
            <span>Choose Profile</span>
          </button>
        }
      }

      <mat-menu #savedNames='matMenu' panelClass='wide-menu'>
        <button mat-menu-item clickEmitter  #add='clickEmitter'>
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        @for (key of stateKeys$ | async; track key) {
          <button mat-menu-item (click)='setProfileState(key)'>
            <div style='display: flex; align-items: center; justify-content: space-between;'>
              <span style='display:flex;'>{{key}}</span>
              <span style='display:flex;'>
                <span style="width: 120px;"></span>
                <mat-icon color='warn' (click)='deleteProfileState(key)' stop-propagation>delete_forever</mat-icon>
              </span>
            </div>
          </button>
        }
      </mat-menu>
      <ng-container *opDialog='add'>
        <mat-form-field>
          <input style='width:90%' matInput #addedKey />
        </mat-form-field>
        <button mat-button (click)='setProfileState(addedKey.value); add.next(false);'
        [disabled]="!addedKey.value">Add</button>
      </ng-container>
    </ng-template>

  </ng-container>

</ng-container>
