<ng-container [matColumnDef]="metaData.key" *ngrxLet="styles$ as styles" >

  <ng-template #body let-element='element' >
      <mat-cell  [matTooltip]="metaData.toolTip ?? ''"  [conditionalClasses]='metaData.classes' [element]='element' [styler]='styles.body' [class.group-footer]="element.isGroupFooter" (click)='cellClicked(element, metaData.key)' >
        <ng-container *ngTemplateOutlet="innerTemplate;context: {metaData: metaData, element: element, transform: transform }; Injector: injector">
        </ng-container>
    </mat-cell>

  </ng-template>

  <ng-template matHeaderCellDef #myHeader>

    <ng-container *ngIf="customCell?.columnDef?.headerCell;else header;">
      <ng-container *ngTemplateOutlet="customCell.columnDef.headerCell.template; context: {metaData: metaData, styles:  styles.header} ">
      </ng-container>
    </ng-container>

    <ng-template #header>

      <mat-header-cell  cdkDrag [styler]='styles.header' [resizeColumn]="true" [key]="metaData.key"   class="column-head drag-header" #headref >
        <div class="header-container" cdkDragHandle>
          <div *ngIf="!metaData._internalNotUserDefined || !customCell?.columnDef?.cell ; else headerWithoutMenu" mat-sort-header style="width: 100%">
            {{ metaData.displayName ?  metaData.displayName : ( metaData.key | spaceCase ) }}
          </div>
          <ng-template #headerWithoutMenu >
            <div *ngIf="metaData._internalNotUserDefined;" style="width: 100%">
              {{ metaData.displayName ?  metaData.displayName : ( metaData.key | spaceCase ) }}
            </div>
          </ng-template>
          <tb-header-menu
            *ngIf="(!metaData._internalNotUserDefined || !customCell?.columnDef?.cell) && (showfilters$ | async);" #menu [metaData]='metaData' [filter]='filter' >
          </tb-header-menu>
        </div>
      </mat-header-cell>

    </ng-template>

  </ng-template>


  <ng-container *matCellDef="let element;">
    <ng-container *ngTemplateOutlet="outerTemplate; context: {metaData: metaData, element: element , styles: styles.body }">
    </ng-container>
  </ng-container>

  <ng-template matFooterCellDef>
    <ng-container *ngIf="customCell?.columnDef?.footerCell;else footer">
      <ng-container
        *ngTemplateOutlet="customCell.columnDef.footerCell.template;context: {metaData: metaData, data: data$, styles : styles.footer }">
      </ng-container>
    </ng-container>

    <ng-template #footer>
      <mat-footer-cell  [styler]='styles.footer' *ngrxLet="data$ as data">
        <span *ngIf="data?.length && metaData.additional?.footer" [ngSwitch]="metaData.fieldType" class="bold">
          <span *ngSwitchCase="FieldType.Currency">
            {{ data | columnTotal: metaData | currency }}
          </span>
          <span *ngSwitchCase="FieldType.Number">
            {{ data | columnTotal: metaData | number }}
          </span>
        </span>
      </mat-footer-cell>
    </ng-template>
  </ng-template>
</ng-container>
